{% extends 'layout/base.html' %}
{% block content %}
    <section class="vh-100 bg-light">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 col-xl-8">
        {% for quote in object_list %}
          <figure class="note note-primary p-4">
              <blockquote class="blockquote">
                <p class="pb-2">
                    {{ quote.text }}
                </p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0">
                  {{ quote.user_id.username }}
              </figcaption>
            <figcaption class="blockquote-small mb-0">
                 {% for tag in quote.tag.all %}
                     #{{ tag.name }}
                 {% endfor %}
              </figcaption>
          </figure>
        {% endfor %}
      </div>
        <div>
    </section>
    {% if is_paginated %}
    <div class="text-center">
        <span >
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Previous</a>
            {% endif %}
            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next</a>
            {% endif %}
        </span>
    <br>
    <a class='btn btn-primary' href="{% url 'quotes:create-quotes' %}">Add new quote</a>
    </div>
    {% endif %}
        </div>
    </div>
  </div>
{% endblock %}